.card {
	border: none !important;
	background-color: transparent !important;

	.card-body {
		min-height: 80px !important;
		background-color: $blue-light;
		color: $blue;
	}

	:hover {
		cursor: pointer;
	}
}
